.image {
  width: 400px;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px #1A1A1A;
}

.infoContainer {
  display: flex;
  column-gap: 25px;
}
.description {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: space-between;
}

.title {
  font-weight: 500;
  margin: 0;
}
.subtitle {
  margin: 0;
  font-size: 26px;
}